div.logo {
text-align: center;
}

.GeneratedText {
font-family:Garamond, serif;font-size:1em;font-variant:small-caps;text-decoration:overline;letter-spacing:0.2em;line-height:1.3em;text-align:center;color:#000033;background-color:#33CCFF;padding:1.5em;
}
